body * {
  margin: 0;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 1);
 }

 .navigation h1 {
  
}

.navigation ul {
  display: flex;
  gap: 10px;
  padding: 0;
  
}

.navigation ul li{
list-style: none;
}

.navigation ul li a{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  padding: 10px;
  }

  .navigation ul li a:focus{
    color: rgba(25, 88, 139, 1)
    ;
  }

  .border {
    border-right: rgba(0, 0, 0, 1) 2px solid;
  }

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all {
  text-align: center;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#add-new {
  text-align: center;
  padding: 10px;
}

#bookForm {
  align-self: center;
}

.line {
  width: 100px;
  align-self: center;
  height: 2px;
  background-color: black;
  border: none;
}

#add {
  margin-left: 8rem;
  border: 2px solid black;
  box-shadow: 3px 2px black;
}

table {
  border: inset 2px black;
  width: fit-content;
  align-self: center;
}

table td {
  table-layout: fixed;
  width: 15rem;
  overflow: hidden;
  word-wrap: break-word;
}

table#tableId tr:nth-child(even) {
  background-color: #fff;
}

table#tableId tr:nth-child(odd) {
  background-color: #eee;
}

#bookListm div p {
  display: inline-block;
}
